:root{
    --fontTextoSimples: 'Lato', sans-serif;
    --corFundo: rgba(255, 252, 232, 1);
    --roxinho: #eba4ff;
    
  
}
@media (max-width: 980px){
    /*Versão mobile*/
    body{
      display: flex;
      justify-content: center;
      flex-direction: column;
      background-color: var(--corFundo);

    }
    a{
        text-decoration: none;
        color: inherit;
        cursor: pointer;
    }
    a:hover{
        border-bottom: #F090B8 solid 2px;
    }
    .planeta{
        margin-top: -10%;
    }
    .logo{
        height: 40%;
        width: 40%;
        align-self: center;
        margin-bottom: 26px;
    }
    .inputLogin{
        border-radius: 23px;
        margin: 15px;
        width: 70%;
        height: 40px;
        align-self: center;
        background-color: radial-gradient(86.8% 325.5% at 8% 0%, #FFFFFF 0%, #FFFCE8 100%);
        padding: 5px;
        border: none;
        box-shadow: 0px 7px 22px 0px rgba(212, 70, 241, 0.55);

    }
    .inputLogin:focus{
        outline: none;
    }
    .lembrar{
        width: 38px;
        height: 20px;
        background: var(--roxinho);
        appearance: none;
        border-radius: 29px;
    }
    .lembrar::-webkit-slider-thumb{
        appearance: none;
        height: 23px;
        width: 23px;
        border-radius: 23px;
        background: var(--roxinho);
    }
    
    .entrar{
        background: radial-gradient(86.8% 325.5% at 8% 0%, #F5A598 0%, #F090B8 100%);
        border: none;
        border-radius: 23px;
        color: white;
        font-weight: 14px;
        width: 70%;
        height: 40px;
        align-self: center;
        margin: 15px;
        box-shadow: 0px 7px 22px 0px rgba(212, 70, 241, 0.55);

    }
    .configSenha{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 12px;
        align-self: center;
        font-family: var(--fontTextoSimples);
    }
    .configSenha p{
        margin: 10px;
    }
    .linkCadastro{
        margin-bottom: 30px;
        font-family: var(--fontTextoSimples);
        font-size: 12px;
        align-self: center;
    }
    .rochas{
        display: inline;
        margin-left: -30px;
        position: relative;
    }
    .astronauta{
        height: 100px;
        width: 100px;
        position: absolute;
        margin-top: -10%;
        align-self: center;
    }
    .icons{
        display: flex;
        flex-direction: column;
    }
    
}