:root{
    --fontAtma: 'Atma', cursive;
    --fontLato: 'Lato', sans-serif;
    --lilas: #D99BFF;
    --corFundo: #E6E1F8;
}
@media (max-width: 980px){
    body{
        background-color: var(--corFundo);
        justify-content: center;

    }
    header{
        display: flex;
        flex-direction: row;
        margin-top: 35px;
        align-items: center;
        margin-bottom: 35px;
    }
    header p{
        font-family: var(--fontAtma);
        color: black;
        margin-left: 6px;
        font-size: 8px;
        margin-right: 120px;
        text-align: center;
    }
    .ftUser{
        height: 64px;
        width: 64px;
        border-radius: 64px;
        border: #D99BFF 2px solid;
        margin-left: 28px;
    }
    .lupa{
        height: 28px;
        width: 28px;
        margin-right: 23px;

    }
    .menu{
        height: 20.416667938232422px;
        width: 23.979206085205078px;
        left: 3px;
        top: 7.291656494140625px;
        border-radius: 0px;
        margin-right: 32px;
    }
    /*Fim estilização do header*/
    .jogos{
        display: flex;
        flex-grow: 2; 
        flex-wrap: wrap;
    }
    .opcaoJogo{
        display: flex;
        width: 152px;
        height: 185px;
        box-shadow: 0px 7px 22px 0px rgba(212, 70, 241, 0.55);
        background: radial-gradient(86.8% 325.5% at 8% 0%, #F8E8FB 0%, #FFFCE8 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
        margin: 10px;
        border-radius: 10px;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }
    .opcaoJogo img{
        height: 76px;
        width: 90px;
        align-self: center;
    }
    .opcaoJogo h2{
        font-size: 12px;
        font-family: var(--fontLato);
        font-weight: 700;
        text-align: center;
    }
    .opcaoJogo p{
        font-size: 10px;
        font-family: var(--fontLato);
        text-align: center;
        font-weight: 300;
    }
}